header {
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.685);
}

footer {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 20px;
    position: relative;
    bottom: 0%;
    text-align: center;
}

#navigate {
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    z-index: 1;
}

.menu {
    margin: 0%;
    background-color: rgb(0, 0, 0, 0.5);
}

.menu li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.menu li {
    padding: 10px;
    display: inline-block;
}

.menu li:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.menu li:nth-child(2):hover #dropdown1,
.menu li:nth-child(3):hover #dropdown2 {
    display: block;
}

#dropdown1,
#dropdown2 {
    position: absolute;
    width: auto;
    max-width: 150px;
    display: none;
    top: 42.5px;
    background-color: whitesmoke;
    padding: 0%;
}

#dropdown1 li,
#dropdown2 li {
    display: block;
}

#dropdown1 li a,
#dropdown2 li a {
    color: steelblue;
    font-size: 15px;
}

@keyframes advertisement {
    0% {
        background-image: url(Images/Animation/ani1.jpg);
    }
    20% {
        background-image: url(Images/Animation/ani2.png);
    }
    40% {
        background-image: url(Images/Animation/ani3.jpg);
    }
    60% {
        background-image: url(Images/Animation/ani4.jpg);
    }
    80% {
        background-image: url(Images/Animation/ani5.jpg);
    }
    100% {
        background-image: url(Images/Animation/ani1.jpg);
    }
}

#ad {
    height: 70vh;
    border: 2px solid steelblue;
    animation-name: advertisement;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
    background-size: contain;
}

#covidCare,
#diabetesCare {
    margin: 10px;
    white-space: nowrap;
}

.products {
    position: relative;
    margin: 15px;
    width: 15vw;
    height: 50vh;
    display: inline-block;
    padding: 1.5vw;
    padding-top: 2vh;
    background-color: rgba(135, 207, 235, 0.2);
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2), 0 8px 28px 0 rgba(0, 0, 0, 0.19);
}

.products:hover {
    width: 20vw;
    height: 55vh;
}

.products img {
    border-radius: 10px;
    width: 15vw;
    height: 25vh;
    align-self: center;
}

.description {
    font-size: 1em;
    color: steelblue;
}

h4 {
    font-size: 1em;
    padding: 0px;
    margin-top: 0vh;
}

.button {
    background-color: rgba(83, 157, 218, 0.116);
    border: solid 2px steelblue;
    color: goldenrod;
    font-weight: bolder;
    border-radius: 10px;
    width: 12vw;
    padding: 1vh 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-top: 3vh;
}

.button:visited {
    background-color: rgb(250, 234, 230);
    border: rgb(0, 255, 76);
}